html{
  background-color: #091540ff;
}
.prese{
  overflow: hidden;
  width: 90%;
  height: 100%;
}
.memebrete{
  display: flex;
  position: fixed;
  background-color: #cfdbd5ff;
  height: 20vh;
  width: 100%;
  top: 0vh;
  box-shadow: 0em 1vh 6px rgb(0, 0,0,0.3);
}
.imgtop{
  box-shadow: 0.3em 0em 6px rgb(0, 0,0,0.3);
  height: 15vh;
  width: 15vh;
  border-radius: 12vw;
  border: rgb(2, 2, 2);
  border-style: solid;
  margin-left: 1vw;
  margin-top: 2vh;
}
.des{
  font-family: 'Noto Sans SC', sans-serif;
  font-stretch: condensed;
  font-style: bold;
  font-weight: 800;
  font-size: 3vh;
  color:black;
  text-shadow:0.1em 0.1em 4px rgb(0, 0,0,0.2);
  margin-left: 3vw;
}

.titulo{
  width: 70vw;
  margin-top: 3vh;
  margin-left: 2vw;
  margin-bottom: 0vh;
  font-family: 'Noto Sans SC', sans-serif;
  font-stretch: semi-expanded;
  font-style: bold;
  font-weight: 800;
  font-size: 4vh;
  color: darkslategrey;
  text-shadow:0.1em 0.1em 4px rgb(0, 0,0,0.2);
}
.subti{
  width: 50vw;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 700;
  font-size: 5vh;
  color: gainsboro;
  text-shadow:0.2em 0.2em 4px rgb(0, 0,0,0.4);
  border-color: #091540ff ;
  border-bottom-color: linen;
  border-style: solid;
  font-stretch: extra-expanded;
  margin-bottom: 5vh;
  margin-top: 25vh;
  padding-bottom: 0.8em;
  padding-left: 1vw;
}

.galeria{
  display: flex;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to top, rgb(44, 123, 160,0), rgb(30, 85, 110));
  width: 20vh;
  height: 10vh;
  justify-content: center;
  text-decoration: none;
  border-radius: 4vw;
  transition-duration: 0.5s;
  color: rgb(231, 219, 219);
  text-shadow:0.1em 0.1em 4px rgba(12, 12, 12, 0.3);
  font-weight: bold;
  font-size: 3vh;
  font-family: 'Muli', sans-serif;
  margin-top: 4vh;
  margin-right: 4vh;
}

.row{
  align-items: center;
  justify-content: center;
  display: flex; 
  flex-wrap: wrap;
}
  
  /* Create four equal columns that floats next to eachother */
  .column {
    display: flex;
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    border-radius: 5%;
    box-shadow: 0em 0.5em 6px rgb(0, 0,0,0.3), 0em -0.3em 6px rgb(0, 0,0,0.3);
    height: 25vh;
    width: 35vh;
    margin: 2% 2% 2% 2%;
    align-items: center;
    justify-content: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 130vh;
    max-width: 140vh;
    top: -10vh;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
    margin-bottom: 5vh;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    height: 5%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: darkblue;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    max-width: 100%;
    width: 30vh;
    height: 30 vh;
    transition: transform 1s;
    transition: 0.3s;
    transition-duration: 1s;
  }
  
  .hover-shadow:hover {
    transform: scale(1.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.imgblack{
  width: 100%;
}

.info{
  text-align: center;
  overflow: hidden;
  height: 14vh;
  width: 100%;
  background-color: #cfdbd5ff;
  box-shadow: 0em -0.8em rgb(0, 0,0,0.4);
  width: 100%;
  font-family: 'Noto Sans SC', sans-serif;
  font-stretch: condensed;
  font-weight: 800;
  font-size: 3vh;
  color:black;
  text-shadow: 0.1em 0.1em 4px rgb(0, 0,0,0.2);
  padding-left: 1vw;
  margin-top: 2vh;
  padding-top: 1vh;
}
/* Media querys*/
@media (max-width:600px) {

  .modal-content{
    width: 100vh;
    height: 100vh;
    top: 0;
    padding-top: -20vh;
  }

  .subti{
    margin-top: 19vh;
    font-size: 4vh;
  }

  .imgtop{
    display: none;
  }

  .column{
    width: 16vh;
    height: 15vh;
  }

  .titulo{
    font-size: 3.2vh;
  }
  .des{
    font-size: 1vh;
  }
  .galeria{
    margin-top: 2vh;
    margin-right: 4vw;
  }
  .memebrete{
    height: 15vh;
  }
  .info{
    font-size: 2vh;
  }


}